html, body{
    height: 100%;
    width: 100%;
}
 .main{
    height: 100%;
    width: 100%;
    position: relative;
 }
 .nav{
    height: auto;
    width: 100%;
    background-color: #023b6d;
    display: flex;
    align-items: center;
    /* justify-content: flex-start; */
    /* padding: 0 1rem; */
    /* justify-content: space-evenly; */
 }
 #mobile{
    color: white;
    margin-right: 10px;
    font-size: medium;
 }
 img{
    height: 6vh;
 }
 #gp{
    margin-left: 15.5rem;  
 }
#arrow3{
    margin-left: 34.211rem;
 }
.nav2{
    display: inline-block;
    justify-content: space-around;
    position: relative;
}
@media screen and (max-width: 900px) {
    #downloadbtn {
        position: absolute;
    }
}
.container{
    background-color: aqua;
}
.paragraph-portfolio{
 text-transform: uppercase;
}